[Unit]
Description=LED Service Monitor
After=network.target

[Service]
Type=simple
WorkingDirectory=/home/lianxu/led
ExecStart=/home/lianxu/led/venv/bin/python3 /home/lianxu/led/led_service.py
Restart=on-failure
User=lianxu
Environment=PYTHONUNBUFFERED=1

[Install]
WantedBy=multi-user.target
